.small-text{
  font-family: Hurme;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  line-height: 1.33;
  letter-spacing: 2px;
  color: rgb(170, 135, 104);
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 32px;
  }