.App {
  text-align: center;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-warp{
  flex: 1;
}

.blog{

  position: relative;
}

.home-content{
  margin: 90px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content{
  display: block;
  position: 0;
}

.home-content{
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-section{
  display: block;
  margin-bottom: -3px;
  min-height: 722.4px;
  position: relative;
}
