.App {
  text-align: center;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
}

.content-warp{
  flex: 1;
}

.blog{
  position: relative;
}

.home-content{
  margin: 90px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: darkslategrey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content{
  display: block;
  position: 0;
}

.home-content{
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-section{
  display: block;
  margin-bottom: -3px;
  min-height: 600px;
  position: relative;
}

.home-banner{
  content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 1px;
    height: 40px;
    background-color: rgb(170, 135, 104);
}

.welcom{
  font-family: Hurme;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1600));
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-top: 12px;
  color: rgb(170, 135, 104);
  margin-top: 200px;
}

.navbar-header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 15;
}

.navbar-container{
  width: calc(100% - 180px);
  margin-left: 90px;
  margin-right: 90px;
}

.navbar-container{
  width: calc(100% - 240px);
  margin-left: 120px;
  margin-right: 120px;
}

.navbar-container{
  width: 1156px;
}

.navbar-container{
  position: relative;
  width: 1470px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-box{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: calc(80px + 40 * ((100vw - 320px) / 1280));
}

.menu-open{
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  transition: all 300ms ease 0s;
  transform: translateX(0px);
  z-index: 15;
}