.App {
  text-align: center;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-warp{
  flex: 1;
}

.blog{

  position: relative;
}

.home-content{
  margin: 90px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content{
  display: block;
  position: 0;
}

.home-content{
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-section{
  display: block;
  margin-bottom: -3px;
  min-height: 722.4px;
  position: relative;
}

.home-banner{
  content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 1px;
    height: 40px;
    background-color: rgb(170, 135, 104);
    margin-top: 10px;
}

.welcom{
  font-family: Hurme;
    font-size: calc(10px + 2 * ((100vw - 320px) / 1600));
    font-weight: 600;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-top: 12px;
    color: rgb(170, 135, 104);
    margin-top: 50px;
}